<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>포트폴리오 관리 - 등록</title>
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/jquery-3.4.1.min.js"></script>

</head>
<body>
<!-- header -->
<header class="clear">
    <h1>
        <img src="/images/logo.png" alt="">
    </h1>
    <ul>
        <li class="active">
            <a href="portfolio.html">포트폴리오 관리</a>
        </li>
        <li>
            <a href="introduce.html">회사소개서</a>
        </li>
        <li>
            <a href="main_set.html">메인 관리</a>
        </li>
        <li>
            <a href="alliance.html">제휴문의</a>
        </li>
    </ul>
    <button class="logout_btn"></button>
</header>
<!-- // header -->

<!-- 컨텐츠 영역 -->
<main class="container">
    <form th:action="@{admin/portfolio/post}" th:object="${portfolioDto}" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
    <h2 class="title">포트폴리오 관리<span>*표시는 필수입력정보 입니다.</span></h2>
    <table class="table_type2">
        <colgroup>
            <col style="width: 20%">
            <col style="width: 80%">
        </colgroup>
        <tbody>
        <tr>
            <th class="important">서비스명</th>
            <td>
                <input type="text" class="w_full" th:field="*{title}">
            </td>
        </tr>
        <tr>
            <th class="important">서비스 설명</th>
            <td>
                <textarea rows="8" class="w_full" th:field="*{content}"></textarea>
            </td>
        </tr>
        <tr>
            <th class="important">플랫폼</th>
            <td>
                <div class="table_inp" th:each="flat : ${getflatformlist}">
                    <input type="checkbox" id="chek_01" class="hide ch_ra" th:field="*{flat}">
                    <label for="chek_01" class="label check">PC</label>
                    <input type="checkbox" id="chek_02" class="hide ch_ra" th:field="*{flat}">
                    <label for="chek_02" class="label check">mobile web</label>
                    <input type="checkbox" id="chek_03" class="hide ch_ra" th:field="*{flat}">
                    <label for="chek_03" class="label check">app</label>
                    <input type="checkbox" id="chek_04" class="hide ch_ra" th:field="*{flat}">
                    <label for="chek_04" class="label check">PC Client</label>
                    <input type="checkbox" id="chek_05" class="hide ch_ra" th:field="*{flat}">
                    <label for="chek_05" class="label check">glass</label>
                    <input type="checkbox" id="chek_06" class="hide ch_ra" th:field="*{flat}">
                    <label for="chek_06" class="label check">기타</label>
                    <input type="text" class="w_200 marleft_12" th:field="*{otherForm}">
                </div>
            </td>
        </tr>
        <tr>
            <th class="important">발주사</th>
            <td>
                <input type="text" class="w_full" th:field="*{orderingCompany}">
            </td>
        </tr>
        <tr>
            <th class="important">런칭일</th>
            <td>
                <input type="date" class="w_full" value="yyyy-mm-dd" th:field="*{launchingDate}">
            </td>
        </tr>
        <tr>
            <th class="important">목록 이미지</th>
            <td>
                <div class="marbtm_12">
                    <div class="banner_con dis_inblock">
                        <img src="/images/img_banner.png" alt="">
                    </div>
                </div>
                <input type="file" id="img_01" class="hide">
                <label for="img_01" class="big_purple_btn w_120">찾아보기</label>
                <p class="martop_6 col_purple">이미지 포맷 : jpg, png 1MB 이하 등록 가능</p>
            </td>
        </tr>
        <tr>
            <th class="important">상세 이미지</th>
            <td>
                <!-- 상세 이미지 추가 시 marbtm_12 안에 banner_con이 늘어납니다 -->
                <div class="marbtm_12">
                    <div class="banner_con dis_inblock">
                        <img src="/images/img_banner.png" alt="">
                    </div>
                    <div class="banner_con dis_inblock">
                        <img src="/images/img_banner.png" alt="">
                    </div>
                </div>

                <input type="file" id="img_02" class="hide">
                <label for="img_02" class="big_purple_btn w_120">찾아보기</label>
                <p class="martop_6 col_purple">이미지 포맷 : jpg, png 1MB 이하 등록 가능</p>
            </td>
        </tr>
        <!--<tr>
            <th class="important">노출</th>
            <td>
                <input type="radio" id="ra_01" class="hide ch_ra" name="radio_01" th:field="*{show_check}">
                <label for="ra_01" class="label radio">노출 함</label>
                <input type="radio" id="ra_02" class="hide ch_ra" name="radio_01">
                <label for="ra_02" class="label radio marleft_20">노출 안함</label>
              &lt;!&ndash;  <input type="radio" class="hide ch_ra" th:value="*{noticeYn}" id="noticeYn" name="noticeYn" th:checked="*{#strings.equals( noticeYn, 'Y' )}" >
                <label class="label radio" for="noticeYn">노출 함</label>
                <input type="radio" class="hide ch_ra" th:value="*{secretYn}" id="secretYn" name="secretYn" th:checked="*{#strings.equals( secretYn, 'Y' )}">
                <label class="label radio marleft_20" for="secretYn">노출 안함</label>&ndash;&gt;
            </td>
        </tr>-->
        </tbody>
    </table>

    <div class="martop_24 clear">
        <a th:href="@{/admin/portfolio/list}" class="w_120 grey_btn" >목록</a>
        <a th:href="@{/admin/portfolio/list}" class="w_120 blue_btn right">확인</a>
    </div>
    </form>
</main>
<!-- // 컨텐츠 영역 -->

<script src="/js/common.js">
/*    function registerBoard(form) {

        form.noticeYn.value = form.noticeYn.checked == false ? 'N' : 'Y';
        form.secretYn.value = form.secretYn.checked == false ? 'N' : 'Y';

        var result = (
            isValid(form.title, "제목", null, null)
            && isValid(form.writer, "이름", null, null)
            && isValid(form.content, "내용", null, null)
        );

        if ( result == false ) {
            return false;
        }
    }*/
</script>
</body>

</html>
